@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

#video {
  width: 700px;
  height: 400px;
}

.card {
  width: 400px;
  margin-left: 25%;
  justify-content: space-between;
}

.container-fluid-1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 45px;
  width: auto;
}
.container-fluid-1 h2 {
  font-weight: 600px;
}

.beneficio h2 {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 600;
}
.beneficio h3 {
  font-weight: 600;
  text-align: center;
  margin: 10px;
}
.beneficio h4 {
  margin: 10px;
}
.beneficio p {
  margin-top: 21px;
  text-align: center;
  font-size: 14px;
  margin: 9px;
}

.recuadro-info {
  width: 95%;
  border: solid 2px darkmagenta;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin-bottom: 25px;
}
.recuadro-info ul {
  display: inline-block;
  text-align: center;
  list-style-type: disc;
  margin-block-start: 5px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 6px;
}
.recuadro-info ul li {
  text-align: left;
  margin-bottom: 6px;
  text-indent: 0px;
}

.carrer-container {
  width: 100%;
  background: url(https://axon-lp-media.s3.us-east-2.amazonaws.com/imagenes/formacion-coach/background-carrera.png);
  background-position: center left;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-size: cover;
}

.color {
  color: antiquewhite;
  margin-top: 43px;
  margin-left: 50px;
}

.btn {
  display: inline-block;
  background-color: green;
  width: 30%;
  margin: 5%;
}

.c-theme--margin {
  margin-bottom: 7rem;
}
.c-theme--margin h2 {
  margin-bottom: 23px;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.subrayado {
  text-decoration: underline;
}

.espacio {
  margin-left: 15px;
}

.logosTittle {
  text-align: center;
  font-weight: 700px;
}

.containerLogos {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin: 12px auto 18px auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
}
body a {
  text-decoration: none;
}

.contenedorTotal {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "main        video       video" "texto       texto       texto" "texto2      texto2      texto2" "contenido1  contenido2  contenido3";
}

.main {
  grid-area: main;
  text-align: center;
  margin: 15px;
}
.main img {
  padding-top: 32px;
  width: auto;
}
.main h1 {
  text-align: center;
  margin-top: 32%;
  margin-right: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.vid {
  width: auto;
  height: auto;
  margin: 7px;
  grid-area: video;
}
.vid img {
  width: auto;
}
.vid h3 {
  margin-top: 43px;
  text-align: center;
}
.vid p {
  margin-top: 33px;
  font-size: 16px;
}

.texto {
  grid-area: texto;
  text-align: justify;
  font-size: 18px;
  margin: 10px 30px 30px 30px;
}
.texto h3 {
  text-align: center;
  font-size: 35px;
}

.texto2 {
  grid-area: texto2;
  text-align: left;
  margin: 10px 30px 30px 30px;
}
.texto2 h3 {
  text-align: center;
}

.box1 {
  grid-area: contenido1;
  margin: 33px 25px 25px 20%;
  text-align: inherit;
}
.box1 h5 {
  font-weight: bold;
}

.box2 {
  grid-area: contenido2;
  margin: 33px 25px 25px 20%;
  text-align: inherit;
}
.box2 h5 {
  font-weight: bold;
}

.box3 {
  grid-area: contenido3;
  margin: 33px 25px 25px 20%;
  text-align: inherit;
}
.box3 h5 {
  font-weight: bold;
}

.estrategia {
  margin-top: 33px;
  margin-left: auto;
  grid-area: contenido1;
}

.estrategia2 {
  margin: 3%;
  grid-area: texto2;
}
.estrategia2 p {
  font-size: 18px;
}

.estrategia3 {
  grid-area: contenido2;
}

.containerLogos {
  grid-area: contenido3;
}

.dosColumnas {
  display: inline-flex;
  width: 50%;
}

.formulario {
  width: 100%;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  padding: 0;
}

.contacto {
  grid-area: contacto;
  text-align: center;
  font-size: 18px;
  margin: 10% 30px 30px 30px;
  background-color: azure;
}

.formulario {
  display: inline-block;
  background-color: rgba(58, 11, 146, 0.521);
  width: 100%;
  border-radius: 4px 35px 35px 35px;
}

.form-group {
  margin-bottom: 3px;
  height: auto;
  margin: 20px;
  border: 2px solid #206cc6;
  border-radius: 15%;
}

.centro {
  text-align: center;
  margin-top: 15px;
}

.section-title {
  font-weight: 600;
  text-align: center;
  margin: 25px;
}

.MsoNormal {
  text-align: left;
  color: #444444;
  font-family: lato, sans-serif;
  margin: 10px;
}

.font {
  font-size: 10px;
}

.hh {
  margin-bottom: 8px;
}

/*footer*/
.footer {
  display: flex;
  background-color: rgb(36, 34, 34);
  height: auto;
  justify-content: center;
  color: antiquewhite;
}

footer img {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
  width: 40px;
  height: 40px;
  justify-content: flex-start;
}

.d-flex {
  align-items: center;
  padding-right: 55px;
}

/*TAMAÑO CELULAR*/
/*INICIO*/
@media screen and (max-width: 525px) {
  .contenedorTotal {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "main" "video" "texto" "contenido1" "contenido2" "contenido3" "texto1" "texto2" "texto3";
  }
  .dosColumnas {
    margin: 5px;
    width: 98%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "formulario" "contacto";
  }
  .main {
    height: auto;
    margin: 0;
  }
  .main h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .main img {
    display: block;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .vid {
    margin: auto;
  }
  .estrategia {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .formulario {
    margin: 2px;
  }
  #video {
    width: 450px;
    height: 240px;
    margin: 3%;
  }
  .recuadro-info {
    width: auto;
    margin: 3px;
  }
  .box1 {
    margin: 4%;
  }
  .box2 {
    margin: 4%;
  }
  .box3 {
    margin: 4%;
  }
  .texto2 {
    margin: 4%;
  }
  .containerLogos img {
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
  }
  .footer {
    padding: 16px;
    font-size: 12px;
  }
  .btn {
    width: 90%;
    margin: 3%;
  }
  .beneficio {
    margin: 5px 0;
  }
  .beneficio h2 {
    font-size: 2rem;
  }
  .beneficio h3 {
    font-size: 2rem;
  }
  .beneficio img {
    margin: 0;
    width: fit-contents;
  }
  .navbar {
    width: 100%;
  }
}
/* TAMAÑO TABLET*/
@media only screen and (min-width: 526px) and (max-width: 967px) {
  .contenedorTotal {
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "main" "." "." "video" "." "." "texto2" "." "." "texto" "." "." "contenido1" "." "." "contenido2" "." "." "contenido3" "." ".";
  }
  .main {
    margin: 0;
    align-items: start;
    justify-content: space-evenly;
  }
  .main h1 {
    margin: 3%;
    font-size: 95%;
  }
  .main h4 {
    font-size: 75%;
  }
  .vid {
    width: fit-content;
    height: 100%;
    margin: 2%;
  }
  .beneficio {
    margin-top: 22px;
  }
}

/*# sourceMappingURL=styles.css.map */
