/*TAMAÑO CELULAR*/

/*INICIO*/
@media screen and (max-width: 525px) {

    .contenedorTotal {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:

            "main"
            "video"
            "texto"
            "contenido1"
            "contenido2"
            "contenido3"
            "texto1"
            "texto2"
            "texto3";
    }


    .dosColumnas {
        margin: 5px;
        width: 98%;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "formulario" "contacto";
    }


    .main {
        height: auto;
        margin: 0;

        h1 {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        img {
            display: block;
            width: 90%;
            margin: 0;
            padding: 0;
        }
    }

    .vid {
        margin: auto;

    }

    .estrategia {
        width: auto;
        margin: 0;
        padding: 0;
    }

    .formulario {
        margin: 2px;
    }

    #video {
        width: 450px;
        height: 240px;
        margin: 3%;
    }

    .recuadro-info {
        width: auto;
        margin: 3px;
    }

    .box1 {
        margin: 4%;
    }

    .box2 {
        margin: 4%;
    }

    .box3 {
        margin: 4%;
    }

    .texto2 {
        margin: 4%;
    }

    .containerLogos{
        img{
            width: 100%;
            justify-content: space-evenly;
            margin: auto;
        }
    }

    .footer {
        padding: 16px;
        font-size: 12px;
    }

    .btn {
        width: 90%;
        margin: 3%;
    }

    .beneficio {
        margin: 5px 0;
        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 2rem;
        }

        img {
            margin: 0;
            width: fit-contents;
        }
    }

    .navbar {
        width: 100%;
    }
}






/* TAMAÑO TABLET*/

@media only screen and (min-width: 526px) and (max-width: 967px) {

    .contenedorTotal {
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "main" "." "."
            "video" "." "."
            "texto2" "." "."
            "texto" "." "."
            "contenido1" "." "."
            "contenido2" "." "."
            "contenido3" "." ".";
    }


    .main {
        margin: 0;
        align-items: start;
        justify-content: space-evenly;

        h1 {
            margin: 3%;
            font-size: 95%;
        }

        h4 {
            font-size: 75%;
        }

    }

    .vid {
        width: fit-content;
        height: 100%;
        margin: 2%;
    }

    .beneficio {
        margin-top: 22px;
    }


}