/*footer*/
.footer {
    display: flex;
    background-color: black;
    height: 200px;
    justify-content: center;
    color: antiquewhite;
}

footer img {
    width: 70px;
    height: 70px;
    justify-content: flex-start;
}

.d-flex {
    align-items: center;
    padding-right: 25px;
}
